body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#main {
    transition: all 1.5s;
    background-image: url(../img/HeroesP/mainMain.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
    width: 100%;
}

#headerM {
    border: 1px solid grey;
    background: rgba(80, 76, 57, 0.388);
    display: flex;
    height: 10%;
    width: 100%;
}

#windowM {
    display: flex;
    height: 90%;
    width: 100%;
    border: 1px solid grey;
}

#playH {
    width: 15%;
}

#menuH {
    width: 20%;
}

#reserve {
    width: 20%;
}

#toolsH {
    width: 20%;
}

#moneyH {
    width: 10%;
}

#statusH {
    width: 15%;
}

#menuW {
    border: 1px solid grey;
    width: 85%;
    height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#chatW {
    background-color: #4d454046;
    border: 1px solid gray;
    height: 100%;
    width: 15%;
}

#mainMenuW {
    width: 100%;
    height: 90%;
    opacity: 0.1;
    background-color: black;
}

#expMenuW {
    background-color: #342c2056;
    width: 100%;
    height: 10%;
}