#collCnt {
    display: none;
}

#collWorkspace {
    width: 80vw;
}

#collMenu {
    width: 20vw;
    border-right: 1px solid cadetblue;
}

#collMenu div {
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#stageCWS {
    height: 125px;
    display: flex;
}

#stageCWS div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    height: 100px;
    width: 100px;
}

#spanCWS {
    height: 60%;
    display: flex;
}

#spanCWS span {
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
    width: 100px;
    text-align: center;
}

#buttonCWS {
    display: none;
    align-items: center;
    justify-content: center;
}

#buttonCWS button {
    margin: 50px;
}